@tailwind base;
@tailwind components;
@tailwind utilities;

.footer{
  /* webkit-clip-path: polygon(0 0,100% 3vw,100% 100%,0 calc(100% - 3vw)); */
  /* Tilted from left side top and bottom */
  /* clip-path: polygon(0 0,100% 3vw,100% 100%,0 calc(100% - 3vw)); */
  /* Tilted from left side only bottom */
  /* clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 6vw)) */
  /* Tilted from left side top */
  clip-path: polygon(0 0,100% 6vw,100% 100%,0 100%);
}
.header{
  box-shadow: 0 3px 3px rgb(0 0 0 / 30%);
}
.banner{
  background-size: cover;
  height: 700px;
}
.c_slider{
  clip-path: polygon(0% 12%,100% 0%,100% 90%,0 100%)
}

.whyus{
  clip-path: polygon(0% 0%,100% 10%,100% 100%,0 100%)
}
.advantage{
  clip-path:polygon(0% 0%, 100% 0%, 50% 100%);
}


/* swiper js */
.swiper-container {
  width: 100%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}